@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html{
    font-family: 'Comfortaa', cursive;
}

a.button {
    font-size: 3vh;
    text-decoration: none;
    color: rgb(48, 228, 138);
    border: 1px solid;
}


@media screen and (min-width: 769px){
    *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    .container2{
        width: 30vw;
        height: 23vh;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 25%;
        top: 40%;
        border-radius: 5px;
        padding: 20px;
    }

    .image-container{
        position: relative;
    }

    img{
        display: none;
    }

    .active{
        transform: translateX(-16%);
        width: 140%; height: 45vh;
        display: block;
    }

    .dot-container{
        width: 50%;
        margin: 20px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    button{
        outline: none;
        cursor: pointer;
    }

    .dot-container button{
        margin: 10px;
        margin-top: -9px;
        height: 15px;
        width: 5vw;
        border-radius: 10%;
        border: 3px solid rgb(135, 222, 170);
        background-color: transparent;
    }

    .dot-container button:nth-child(1){
        background-color: rgb(135, 222, 170);
    }

    #prev,#next{
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: rgb(135, 222, 170);
        color: #ffffff;
        margin: auto;
        top: 80%;
        bottom: 0;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: bolder;
    }

    #prev{
        left: 5px;
    }

    #next{
        right: 5px;
    }

    body { 
        background: url(background.gif) no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: cover;

        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .container{
        width: 50vw;
        left: 25vw ;
        right: 25vw;
        bottom: 15vw;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h2{
        text-align: center;
        font-size: 3vw;
        line-height: 4vw ;
        color: rgb(48, 228, 138);
        margin-top: -8vw
    }

    .countdown{
        display: flex;
        margin-top: -12.5vw;
    }

    .countdown div{
        position: relative;
        width: 5vw;
        height: 5vw;
        line-height: 5vw;
        text-align: center;
        background: rgb(48, 228, 138);
        color: rgba(223, 19, 19, 0.589);
        margin: 0% 1vw;
        font-size: 2vw;
        font-weight: 100vw;
    }

    .countdown div:before{
        content: '';
        position: absolute;
        bottom: -1.7vw;
        left: 0;
        width: 5vw;
        height: 4vh;
        background: #aff0cf;
        color: #333;
        font-size: 0.8vw;
        line-height: 1.7vw;
        font-weight: 5vw;
    }

    .countdown div#Dias:before{
        content: 'Dias';
    }

    .countdown div#Horas:before{
        content: 'Horas';
    }

    .countdown div#Minutos:before{
        content: 'Minutos';
    }

    .countdown div#Segundos:before{
        content: 'Segundos';
    }


    .apresentacao{
        width: 40vw;
        margin-top: 27.5%;
        margin-left: 40%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }


    .aviso{
        width: 50vw;
        left: 23vw ;
        right: 25vw;
        bottom: 0.5vw;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aviso h3{
        text-align: center;
        font-size: 0.7vw;
        line-height: 1vw ;
        color: #aff0cf;
        margin-top: 2vw;
    }

    .insta{
        transform: scale(0.1);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -20vw ;
        right: 30vw;
        bottom: -20vh;
    }
    
    .facebook{
        transform: scale(0.1);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -14.9vw ;
        right: 25.1vw;
        bottom: -20vh;;
    }
}

@media screen and (max-width: 480px){
    *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    .container2{
        width: 76vw;
        height: 23vh;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 40%;
        border-radius: 5px;
        padding: 20px;
    }

    .image-container{
        position: relative;
    }

    img{
        display: none;
    }

    .active{
        width: 100%; 
        display: block;
    }

    .dot-container{
        width: 50%;
        margin: 20px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    button{
        outline: none;
        cursor: pointer;
    }

    .dot-container button{
        margin: 10px;
        margin-top: -9px;
        height: 15px;
        width: 5vw;
        border-radius: 10%;
        border: 3px solid rgb(135, 222, 170);
        background-color: transparent;
    }

    .dot-container button:nth-child(1){
        background-color: rgb(135, 222, 170);
    }

    #prev,#next{
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: rgb(135, 222, 170);
        color: #ffffff;
        margin: 0% auto auto auto;
        top: 40%;
        bottom: 0;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: bolder;
    }

    #prev{
        left: 5px;
    }

    #next{
        right: 5px;
    }


    body { 
        background: url(background2.gif) no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: cover;

        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .container{
        width: 50vw;
        left: 26.5vw ;
        right: 26.5vw;
        bottom: 70vw;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h2{
        text-align: center;
        font-size: 5.4vw;
        line-height: 7vw ;
        color: rgb(48, 228, 138);
        margin-top: -8vw
    }

    .countdown{
        display: flex;
        margin-top: -17.5vw;
    }

    .countdown div{
        position: relative;
        width: 9vw;
        height: 9vw;
        line-height: 9vw;
        text-align: center;
        background: rgb(48, 228, 138);
        color: rgba(223, 19, 19, 0.589);
        margin: 0% 2vw;
        font-size: 4vw;
        font-weight: 100vw;
    }

    .countdown div:before{
        content: '';
        position: absolute;
        bottom: -2.7vw;
        left: 0;
        width: 9vw;
        height: 2.5vh;
        background: #aff0cf;
        color: #333;
        font-size: 1.5vw;
        line-height: 3.5vw;
        font-weight: 5vw;
    }

    .countdown div#Dias:before{
        content: 'Dias';
    }

    .countdown div#Horas:before{
        content: 'Horas';
    }

    .countdown div#Minutos:before{
        content: 'Minutos';
    }

    .countdown div#Segundos:before{
        content: 'Segundos';
    }

    .apresentacao{
        width: 40vw;
        margin-top: 110%;
        margin-left: 30%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 10vw;
        justify-content: center;
        align-items: center;
    }

    .aviso{
        width: 50vw;
        left: 5vw ;
        right: 45vw;
        bottom: 14vw;
        
        position: absolute;
        display: flex;
    }

    .aviso h3{
        font-size: 1.5vw;
        line-height: 1.5vw ;
        color: #aff0cf;
        margin-top: 2vw;
    }

    .insta{
        transform: scale(0.05);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -18vw ;
        right: 32vw;
        bottom: -40vh;
    }
    
    .facebook{
        transform: scale(0.05);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -8.9vw ;
        right: 41.1vw;
        bottom: -40vh;;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

   
    .container2{
        width: 76vw;
        height: 23vh;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 35%;
        border-radius: 5px;
        padding: 20px;
    }

    .image-container{
        position: relative;
    }

    img{
        display: none;
    }

    .active{
        width: 100%; 
        display: block;
    }

    .dot-container{
        width: 50%;
        margin: 20px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    button{
        outline: none;
        cursor: pointer;
    }

    .dot-container button{
        margin: 10px;
        margin-top: -9px;
        height: 15px;
        width: 5vw;
        border-radius: 10%;
        border: 3px solid rgb(135, 222, 170);
        background-color: transparent;
    }

    .dot-container button:nth-child(1){
        background-color: rgb(135, 222, 170);
    }

    #prev,#next{
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: rgb(135, 222, 170);
        color: #ffffff;
        margin: 0% auto auto auto;
        top: 40%;
        bottom: 0;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: bolder;
    }

    #prev{
        left: 5px;
    }

    #next{
        right: 5px;
    }

    body { 
        background: url(background3.gif) no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: cover;

        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .container{
        width: 50vw;
        left: 26vw ;
        right: 26vw;
        bottom: 85vw;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h2{
        text-align: center;
        font-size: 5.4vw;
        line-height: 7vw ;
        color: rgb(48, 228, 138);
        margin-top: -8vw
    }

    .countdown{
        display: flex;
        margin-top: -17.5vw;
    }

    .countdown div{
        position: relative;
        width: 9vw;
        height: 9vw;
        line-height: 9vw;
        text-align: center;
        background: rgb(48, 228, 138);
        color: rgba(223, 19, 19, 0.589);
        margin: 0% 2vw;
        font-size: 4vw;
        font-weight: 100vw;
    }

    .countdown div:before{
        content: '';
        position: absolute;
        bottom: -2.7vw;
        left: 0;
        width: 9vw;
        height: 2.5vh;
        background: #aff0cf;
        color: #333;
        font-size: 1.5vw;
        line-height: 3.5vw;
        font-weight: 5vw;
    }

    .countdown div#Dias:before{
        content: 'Dias';
    }

    .countdown div#Horas:before{
        content: 'Horas';
    }

    .countdown div#Minutos:before{
        content: 'Minutos';
    }

    .countdown div#Segundos:before{
        content: 'Segundos';
    }

    .apresentacao{
        width: 40vw;
        margin-top: 90%;
        margin-left: 30%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    .aviso{
        width: 50vw;
        left: 5vw ;
        right: 45vw;
        bottom: 10vw;
        
        position: absolute;
        display: flex;
    }

    .aviso h3{
        font-size: 1.5vw;
        line-height: 1.5vw ;
        color: #aff0cf;
        margin-top: 2vw;
    }

    .insta{
        transform: scale(0.07);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -18vw ;
        right: 32vw;
        bottom: -20vh;
    }
    
    .facebook{
        transform: scale(0.07);
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50vw;
        left: -8.9vw ;
        right: 41.1vw;
        bottom: -20vh;;
    }
}
